[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.5.0"

[dev-packages]
black = "==23.1.0"
mypy = "==1.1.1"
ruff = "==0.0.259"

[requires]
python_version = "3.7"
python_full_version = "3.7.14"
